.wrapper
  = render partial: 'side-bar'
  .chat
    .chat__header
      .chat__header--info
        .i.chat__header--info__title
          = @group.name
        %ul.chat__header--info__members
          Member：
          - @members.each do |member|
            %li.member
              = member.user.name
      = link_to edit_group_path(@group) do
        .btn-edit
          Edit
    .chat__messages
      = render partial: 'message', collection: @messages, as:'message'
    = form_for [@group, @message] do |f|
      .message-form
        = f.text_field :text, placeholder: 'type a message', class: 'message-form__text'
        = f.label :image, class: 'message-form__mask' do
          %i.fa.fa-picture-o.icon
        = f.file_field :image, style: 'display:none'
        = f.submit :Send, class: 'message-form__submit'
